{% extends "mail/layout.html" %}

{% block body %}


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}


    <div>
        <div class="card" style="width: 60rem; margin-top: 195px; margin-left: 80px;">
            <div class="card-body">
            <h5 class="card-title">Register</h5>
            <p class="card-text">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                    </div>
                        <input class="btn btn-primary" type="submit" value="Register">
                </form>
            </p>
            Already have an account? <a href="{% url 'login' %}" class="card-link">Log In Here.</a> 
            </div>
        </div>
        </div>
        
{% endblock %}