{% extends "quizapp/layout.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'quizapp/quizlist.js' %}"></script>
{% endblock scripts %}

{% block title %}Quiz List{% endblock %}



{% block body %}

<br><br>
{% if empty %}
<h1 class="center">No Quizzes Available</h1>
{% else %}
<h1 class="center">Quiz List</h1>
{% endif %}
<hr style="width: 50%">

<div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Start Quiz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modbody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" id="start" class="btn btn-success">Start</button>
        </div>
      </div>
    </div>
  </div>


  
{% for quiz in quizzes %}

<div class="post-view">
    <div class="card" style="width: 75%; margin-left: auto; margin-right: auto; border-color: black;">
        <div class="card-header" style="background-color: rgb(200, 201, 199);">
          <b><a style="color:black" href="{% url 'myquizzes' username=quiz.creator %}">Quiz by: {{quiz.creator}}</a></b>
          <span class="topright badge badge-pill badge-secondary">High score: {{quiz.bestscore}}% by {{quiz.bestscoreuser}}</span>
        </div>
    
        <ul class="list-group list-group-flush">
          <li id="postbody{{post.id}}" class="list-group-item">
            <button class="btn btn-link modal-button" 
            data-subject="{{quiz.subject}}"
            data-creator="{{quiz.creator}}"
            data-pk="{{quiz.pk}}" 
            data-quiz="{{quiz.name}}" 
            data-questions="{{quiz.questionamt}}" 
            data-difficulty="{{quiz.difficulty}}" 
            data-time="{{quiz.time}}"
            data-pass="{{quiz.passingscore}}"
            data-toggle="modal" data-target="#quizStartModal"
            style="color: black">

            {{quiz.name}}
            
            </button>
            
          </li>
            <small class="text-muted" style="position: absolute; bottom: 10px; right: 10px;">{{ quiz.timestamp }}</small>
        </ul>

      </div>
      <br>
    </div>



        <br>
{% endfor %}

{% endblock %}
