{% extends "quizapp/layout.html" %}
{% load static %}

{% block title %}{{quiz.name}}{% endblock title %}


{% block body %}

<h1 class="center">{{quiz.name}}</h1>
<hr>
<div class="row fancy">
    <p>Score to Pass: <b style="color: green">{{quiz.passingscore}}%</b></p>
    <hr>
    <div class="col text-right" id="timee">countdown</div>
</div>


<a href="{% url 'quizlist' %}" class="btn btn-danger">Quit</a>

<br><br>
<form id="qform" class="mt-3 mb-3">
    {% csrf_token %}
    <div id="hi"></div>
    <button type="submit" href="#0" class="btn btn-success mt-3">Submit</button>
</form>

<div id ="score"></div>
<div id="ydiv"></div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'quizapp/quizview.js' %}"></script>
{% endblock scripts %}
